<div class="register-container">
  <div class="register-box">
    <h2>Criar Conta</h2>
    <p class="subtitulo">Preencha o formulário abaixo para se cadastrar</p>

    <form #formLogin="ngForm" (ngSubmit)="create(formLogin)">
      <label for="nome">Nome</label>
      <input
        type="nome"
        id="nome"
        name="nome"
        [(ngModel)]="usuario.nome"
        required
        nome
        #nomeModel="ngModel"
      />
      <div
        *ngIf="nomeModel.invalid && (nomeModel.dirty || nomeModel.touched)"
        class="error"
      >
        <small *ngIf="nomeModel.errors?.['required']"
          >Nome é obrigatório.</small
        >
      </div>

      <label for="email">E-mail</label>
      <input
        type="email"
        id="email"
        name="email"
        [(ngModel)]="usuario.email"
        required
        email
        #emailModel="ngModel"
      />
      <div
        *ngIf="emailModel.invalid && (emailModel.dirty || emailModel.touched)"
        class="error"
      >
        <small *ngIf="emailModel.errors?.['required']"
          >E-mail é obrigatório.</small
        >
        <small *ngIf="emailModel.errors?.['email']">E-mail inválido.</small>
      </div>

      <label for="senha">Senha</label>
      <input
        type="password"
        id="senha"
        name="senha"
        [(ngModel)]="usuario.senha"
        required
        minlength="6"
        #senhaModel="ngModel"
      />
      <div
        *ngIf="senhaModel.invalid && (senhaModel.dirty || senhaModel.touched)"
        class="error"
      >
        <small *ngIf="senhaModel.errors?.['required']"
          >Senha é obrigatória.</small
        >
        <small *ngIf="senhaModel.errors?.['minlength']"
          >Senha deve ter pelo menos 6 caracteres.</small
        >
      </div>

      <button type="submit" [disabled]="formLogin.invalid">Cadastrar</button>
    </form>

    <p class="link">Já tem uma conta? <a (click)="navegador()">Entrar</a></p>
  </div>
</div>
