 <section class="intro">
    <p class="subtitulo">O café do seu jeito</p>
    <h2>Monte Seu Café</h2>
    <p class="descricao">
      Descubra como criar a bebida perfeita para você! Escolha seus ingredientes
      e personalize o seu café de forma simples e divertida.
    </p>
  </section>

  <section class="etapas">
    <h3>Descubra como personalizar seu café de forma simples e rápida</h3>
    <div class="cards">
      <div class="card">
        <i class="fas fa-mug-hot icon"></i>
        <h3>Passo a passo para criar sua bebida perfeita</h3>
        <p>
          Escolha seus ingredientes, identifique seu sabor clássico e veja o
          resumo da sua bebida.
        </p>
        <button class="btn-card">
          Confirmar <i class="fas fa-chevron-right"></i>
        </button>
      </div>

      <div class="card card-centro">
        <i class="fas fa-circle-question icon"></i>
        <h3>Como funciona a identificação do sabor clássico?</h3>
        <p>
          Nosso sistema reconhece automaticamente se sua combinação de
          ingredientes forma um sabor clássico!
        </p>
        <button class="btn-card">
          Verificar <i class="fas fa-chevron-right"></i>
        </button>
      </div>

      <div class="card">
        <i class="fas fa-solid fa-mug-saucer icon"></i>
        <h3>Resumo da sua bebida personalizada</h3>
        <p>Veja o nome da sua bebida e todos os ingredientes escolhidos.</p>
        <button class="btn-card">
          Adicionar <i class="fas fa-chevron-right"></i>
        </button>
      </div>
    </div>
  </section>